<div class="partialCart">
    <h3>Shopping Cart</h3>
    <br /><br />
    Here we should check the user's session and get all of the product ids, with a quantity of each
    <br /><br />
    Then we'll have the possibily to remove or change the quantity of each item which will update the session
    <br /><br />

    And a button to view the cart page
    <br /><br />


    @Html.ActionLink("Go to Cart", "Cart", "Home") | @Html.ActionLink("Checkout", "Cart", "Home")
</div>