
<div class="review_containter">
    <!--https://stackoverflow.com/questions/20799658/how-can-i-pass-parameters-to-a-partial-view-in-mvc-4-->
    <h3>User Reviews</h3>
  
    5 Stars!!!
    <!--Get a viewbag with the product's rating.
        draw a start for each point-->
    <br /><br />
    Do you want to leave feedback on this product? Click @Html.ActionLink("Here", "Index", "Review")

    <br />

    <!--The viewbag will give out a list of user ratings,
        which will be displayed with page numbers
        and with username, rating and review-->



</div>