@model IEnumerable<IntegrationProjectNMGM.Models.Category>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@foreach (var item in Model)
{
    var itemName = item.CategoryName;
    var split = itemName.Split(' ')[0];

    @Html.ActionLink(itemName + " ", split)
    <br />
}
