@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div align="center"><img src="/Content/Images/bikeshop.jpg" alt="Bike Shop" /></div><br>
<p>We at (Company Name) are about (stuff) and we highly value (values).</p><br>
<p>We started from doing (history stuff) back in (some old time). There was only (Founder) and (his/her friends) until somehow we grew into this.</p><br>
<div align="center">
    <img src="/Content/Images/bikeshopowners.jpg" alt="Bike Shop Owners"/><br><br />
    <img src="/Content/Images/bikeshopworker.jpg" alt="Bike Shop Owner"  />
</div>

