
@{
    ViewBag.Title = "Careers";
}

<h2>@ViewBag.Message</h2>

<p>We're looking for people to help shape the future of (Company Name). If you're passionate, creative, and dynamic, then we have many exciting career opportunities available in various disciplines.</p><br />
<p>Here are some positions that are currently available:</p><br />
<br />
<ul>
    <li>Web Developer</li>
    <ul>
        <li>Update and maintain the (Company Name) online store</li>
        <li>Develop in ASP.NET, C#, Razor, HTML5</li>
    </ul>
</ul>