
@{
    ViewBag.Title = "CyclingSafety";
}

<h2>@ViewBag.Message</h2>


<div class="row">
    <div class="col-sm-4">
        <p>
            It's important to remember that safety should be everyone's first priority when cycling. Here are a few basic tips to stay safe on your adventures.
        </p>
        <ul class="list-group">
            
            <li class="list-group-item">
                Always follow the local highway code. Stop at all stop signs and red lights, and look for oncoming traffic at intersections. Use bicycle paths when available, and keep to the side of the road when there are none. Never ride on sidewalks.
            </li>
            <li class="list-group-item">
                Wear a helmet and proper cycling attire. Other forms of protection, including kneepads, elbow pads, and wristguards are helpful as well.
            </li>
            <li class="list-group-item">
                When it's dark, wear a high-visibilty vest or other highly reflective clothing. A white headlight and red taillight are also recommended. Make sure there are reflectors in good condition on your bicycle.
            </li>
            <li class="list-group-item">
                Keep your bicycle well maintained, and regularly perform pre and post-trip inspections
            </li>
            <li class="list-group-item">
                Use hand signals when making turns and stopping.
            </li>
            <li class="list-group-item">
                Use a bell for signaling your presence to other cyclist and pedestrians
            </li>

        </ul>
    </div>
    <div class="col-sm-8">
        <img src="~/Content/Images/bikesignals.jpg" width="615" height="442" />
    </div>
</div>