
<link rel="stylesheet" type="text/css" href="../../Content/Contact.css">

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>dummy</title>

    <h2>Product #579324890</h2>

    <br />its a product <br />
    <br />
    <br />


    @Html.Partial("~/Views/Shared/Review.cshtml")
</head>
<body>
    <div> 
    </div>
</body>
</html>
