
@{
    ViewBag.Title = "Returns";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>
    <br />
    <strong>If you are not fully satisfied for any reason, you may return the item for a full refund within 30 days.</strong>
    <br /><br />
    We will not accept returns if the item is damage due to abusive or incorrect use
    <br /><br />
    <strong>You must keep the original packaging and any accessories that were included with the item</strong>
    <br /><br />
    The refund will be issued under the same method as what was used to pay (credit, debit, cash)

</p>
